<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- Mirrored from red-parts.html.themeforest.scompiler.ru/themes/red-ltr/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 14 Mar 2022 08:20:17 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Home One — Red Parts</title>
    <link rel="icon" type="image/png" href="/modules/webUI/images/favicon.png">
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
    <!-- css -->
    <link rel="stylesheet" href="/modules/webUI/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/modules/webUI/vendor/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/modules/webUI/vendor/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/modules/webUI/vendor/photoswipe/default-skin/default-skin.css">
    <link rel="stylesheet" href="/modules/webUI/vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="/modules/webUI/css/style.css">
    <link rel="stylesheet" href="/modules/webUI/css/style.header-spaceship-variant-one.css" media="(min-width: 1200px)">
    <link rel="stylesheet" href="/modules/webUI/css/style.mobile-header-variant-one.css" media="(max-width: 1199px)">
    <!-- font - fontawesome -->
    <link rel="stylesheet" href="/modules/webUI/vendor/fontawesome/css/all.min.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-97489509-8");
    </script>
</head>
<body>
    <!-- site -->
    <div class="site">
        <!-- site__mobile-header -->
        @Html.Partial("Navbar/Header/_MobileHeader.cshtml")
        <!-- site__mobile-header / end -->
        <!-- site__header -->
        <header class="site__header">
            <div class="header">
                <div class="header__megamenu-area megamenu-area"></div>
                <div class="header__topbar-start-bg"></div>
                @Html.Partial("Navbar/Header/_Header.cshtml")
                <div class="header__topbar-end-bg"></div>
                <div class="header__navbar">
                    @Html.Partial("Navbar/Header/_NavbarMenu.cshtml")
                </div>
                <div class="header__logo">
                    @Html.Partial("Navbar/Header/_Logo.cshtml")
                </div>
                <div class="header__search">
                    <div class="search">
                        @Html.Partial("Navbar/Header/_FilterCars.cshtml")
                    </div>
                </div>
                <div class="header__indicators">
                    <div class="indicator indicator--trigger--click">
                        @Html.Partial("Navbar/Header/_UserScreen.cshtml")
                    </div>
                    <div class="indicator indicator--trigger--click">
                        @Html.Partial("Navbar/Header/_CartScreen.cshtml")
                    </div>
                </div>
            </div>
        </header>
        <!-- site__header / end -->
        <!-- site__body -->
        <div class="site__body">
            @RenderBody()
        </div>
        <!-- site__body / end -->
        <footer class="site__footer">
         @Html.Partial("Footer/_FooterSide.cshtml")
         </footer>
    </div>
    <!-- site / end -->
    <!-- scripts -->
    <script src="/modules/webUI/vendor/jquery/jquery.min.js"></script>
    <script src="/modules/webUI/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/modules/webUI/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="/modules/webUI/vendor/nouislider/nouislider.min.js"></script>
    <script src="/modules/webUI/vendor/photoswipe/photoswipe.min.js"></script>
    <script src="/modules/webUI/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="/modules/webUI/vendor/select2/js/select2.min.js"></script>
    <script src="/modules/webUI/js/number.js"></script>
    <script src="/modules/webUI/js/main.js"></script>
</body>
</html>