<!doctype html>
<html class="fixed">

<head>
    <meta charset="UTF-8">
    <title>Default Layout | Porto Admin - Responsive HTML5 Template</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,900|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/modules/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/modules/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/modules/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="/modules/vendor/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="/modules/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/modules/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="/modules/vendor/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="/modules/vendor/jquery-ui/jquery-ui.theme.css" />
    <link rel="stylesheet" href="/modules/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="/modules/vendor/morris/morris.css" />
    <link rel="stylesheet" href="/modules/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="/modules/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="/modules/vendor/dropzone/basic.css" />
    <link rel="stylesheet" href="/modules/vendor/dropzone/dropzone.css" />
    <link rel="stylesheet" href="/modules/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" />
    <link rel="stylesheet" href="/modules/vendor/pnotify/pnotify.custom.css" />
    <link rel="stylesheet" href="/modules/vendor/datatables/media/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="/modules/css/theme.css" />
    <link rel="stylesheet" href="/modules/css/custom.css">
    <link rel="stylesheet" href="/modules/css/layouts/modern.css" />
    <script src="/modules/vendor/modernizr/modernizr.js"></script>
    <script src="/modules/master/style-switcher/style.switcher.localstorage.js"></script>

</head>
<body>

    <section class="body">
        <!-- start: header -->
        <header class="header">
            @Html.Partial("MasterPage/Logo/_Logo.cshtml")

            <!-- start: search & user box -->
            @Html.Partial("MasterPage/Navbar/_Navbar.cshtml")
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->
        <div class="inner-wrapper">
            <!-- start: sidebar -->
            @Html.Partial("MasterPage/Navigation/_Navigation.cshtml")
            <!-- end: sidebar -->

            <section role="main" class="content-body content-body-modern mt-0">
                @Html.Partial("MasterPage/Route/_Route.cshtml")

                <!-- start: page -->
                @RenderBody()
                <!-- end: page -->
            </section>
        </div>
    </section>

    <!-- Vendor -->
    <script src="/modules/vendor/jquery/jquery.js"></script>
    <script src="/modules/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/modules/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="/modules/master/style-switcher/style.switcher.js"></script>
    <script src="/modules/vendor/popper/umd/popper.min.js"></script>
    <script src="/modules/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/modules/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/modules/vendor/common/common.js"></script>
    <script src="/modules/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="/modules/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="/modules/vendor/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/modules/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="/modules/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="/modules/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="/modules/vendor/select2/js/select2.js"></script>
    <script src="/modules/vendor/dropzone/dropzone.js"></script>
    <script src="/modules/vendor/pnotify/pnotify.custom.js"></script>
    <script src="/modules/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="/modules/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="/modules/vendor/jquery.easy-pie-chart/jquery.easypiechart.js"></script>
    <script src="/modules/vendor/flot/jquery.flot.js"></script>
    <script src="/modules/vendor/flot.tooltip/jquery.flot.tooltip.js"></script>
    <script src="/modules/vendor/flot/jquery.flot.pie.js"></script>
    <script src="/modules/vendor/flot/jquery.flot.categories.js"></script>
    <script src="/modules/vendor/flot/jquery.flot.resize.js"></script>
    <script src="/modules/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="/modules/vendor/raphael/raphael.js"></script>
    <script src="/modules/vendor/morris/morris.js"></script>
    <script src="/modules/vendor/gauge/gauge.js"></script>
    <script src="/modules/vendor/snap.svg/snap.svg.js"></script>
    <script src="/modules/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="/modules/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="/modules/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="/modules/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="/modules/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="/modules/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="/modules/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="/modules/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="/modules/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="/modules/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
    <script src="/modules/js/theme.js"></script>
    <script src="/modules/js/custom.js"></script>
    <script src="/modules/js/theme.init.js"></script>
    <script src="/modules/js/examples/examples.header.menu.js"></script>
    <script src="/modules/js/examples/examples.ecommerce.form.js"></script>
    <script src="/modules/js/examples/examples.ecommerce.sidebar.overlay.js"></script>
    <script src="/modules/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/modules/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42715764-8', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="/modules/js/examples/examples.dashboard.js"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6ecc889e5a7083b5","version":"2021.12.0","r":1,"token":"03fa3b9eb60b49789931c4694c153f9b","si":100}' crossorigin="anonymous"></script>
</body>
</html>